.radioStyling{
    font-size: small !important;
}

.small-text {
    font-size: 13px !important;
}



.filter-panel {
    background-color: transparent !important;
    border: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
    font-size: 13px;
    color: #444;
}


.MuiOutlinedInput-input {
    padding: 12px 14px;
}


.filter-text {
    font-size: 14px !important;
    color: #444 !important;
}