.flight-card-sm {
    width: 45rem;
    height: auto;
    padding: 0!important;
  }
  
  .flight-details{
    width: 100%;
    height: auto;
    .item1 { grid-area: header; }
    .item2 { grid-area: menu; }
    .item3 { grid-area: main; }
    .item4 { grid-area: right; }
    .item5 { grid-area: footer; }
    .item6 { grid-area: departtime; }
    .item7 { grid-area: period; }
    .item8 { grid-area: arrivetime; }
    .grid-container {
    display: grid;
    text-align: left;
    grid-template-areas:
      'header header header header header header header header'
      'menu departtime departtime right right right right right'
      'menu period period main main main main main'
      'menu arrivetime arrivetime footer footer footer footer footer';
    grid-gap: 10px;
  }
  
  .grid-container > div {
    text-align: left;
    font-size: 12px;
  }



  }
  

  .flight-card-lg {
    padding: 20px 20px 15px;

    .list-detail{
      font-weight: 500;
      font-size: 16px;
      color: #222;
      margin-top: 0px;
      padding-bottom: 4px;
    }

    .passengers {
      font-weight: 500;
      font-size: 16px;
      color: #222;
      margin-top: 0px;
      padding-bottom: 4px;
      margin-left: -15px !important;
    }

    .price{
      font-size: 18px;
      font-weight: 600;
    }

    .passenger-count {
      font-size: 13px;
    }

    .time {
      color: #555;
      font-size: 18px;
      padding: 8px 0 9px;
      font-weight: 600;
    }

    .date, 
    .location-details,
    .detail-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }

    .middle-col {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }


    .call-to-action{
      cursor: pointer;
      // color: yellow !important;
      font-weight: 600;
      padding: 5px;
      margin-top: 15px;
      min-width: 130px;
    }

}


.horizontal-divider  {
  @media only screen and (max-width: 1000px) {
    width: 50%!important;
}
}

// <i class="material-icons">
// search
// </i>

// <i class="material-icons">
// flight_takeoff
// </i>

// <i class="material-icons">
// assignment
// </i>

// <i class="material-icons">
// check
// </i>

// <i class="material-icons">
// account_balance_wallet
// </i>