.app-loader{
    position: fixed;
    width:  100%;
    height: 95vh;
    padding: 60px;
    background: #fff;

      h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: rgb(76, 127, 245);
        text-transform: uppercase;
        letter-spacing: 2px;
        top: 24px;
        font-size: 18px;  
        padding-bottom: 20px;   
      }
}

.main-wrapper{
    background-color: #ECF0F5;
    width:  100%;
    height: auto;
    min-height: 100vh;
    position: relative;
    margin-top: 100px; //compensates for the navbar height
    padding-top: 10px; //compensates for the navbar height
}



.content-wrapper{
    width: 85%;
    margin: 30px auto 0;
    
}

.breadcrumbs{
    padding-top: 25px;
    margin-bottom: -20px !important;
}

.card-header-detail {
    margin-bottom: -7px;
    padding-top: 5px;
}

.form-column { //FOr the cards to be wider in mobile
    @media only screen and (max-width: 1000px) {
        margin: 0 !important;
        padding: 0 !important;
    } 
}

.disappear { //for the filter in mobile
    @media only screen and (max-width: 1000px) {
        display: none !important;
    } 
}