.app-loader{
    position: relative;
    width:  100%;
    height: 100vh;
    margin-top: -30px;
    padding: 60px;
    background: #fff;

      h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: rgb(76, 127, 245);
        text-transform: uppercase;
        letter-spacing: 2px;
        top: 24px;
        font-size: 18px;  
        padding-bottom: 20px;   
      }
}

.main-wrapper{
    background-color: #ECF0F5;
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: 100px;   //Compensates for navbar position 

    .search-wrapper {
        // position: fixed;
        width: 100%;
        border-bottom: 1px solid #ddd;
        z-index: 5;
        border-radius: 0;
        @media only screen and (max-width: 1000px) {
            position: relative;
        }
    }

    .filter-wrapper { //hide default filter form when in mobile devices
        margin-left: -30px;
        @media only screen and (min-width: 1160px) {
            position: relative;
            // top: 180px; //comment out if you want to fix search bar
            // overflow-y: scroll;
            max-width: 280px !important;
        }        
        @media only screen and (max-width: 1160px) {
            top: 280px;
            max-width: 240px !important;       
        }

        @media only screen and (max-width: 1000px) {
            display: none !important;
            position: relative;
        }
    }



    .summary-container {

        margin-bottom: 30px;

        @media only screen and (min-width: 1000px) {

            position: relative;
            // top: 130px;
            // overflow: scroll;
            width: 340px !important;
        }

        @media only screen and (max-width: 800px) {
            position: relative;
            margin: 0 auto;
        }
    }

    .flightResults-wrapper {
        // width: 100%;
        // margin-top: 180px;
        @media only screen and (max-width: 1000px) {
            margin-top: 0px;
        }
    }
    

    .content-wrapper{ //determinses percentage of page used
        // position: fixed;
        // top: 100px;
        width: 85%;
        margin: 0 auto;
        padding-top: 30px;
        z-index: 1;
        
    }

}

.card-header-detail {
    margin-bottom: -7px;
    padding-top: 5px;
}

.form-column { //FOr the cards to be wider in mobile
    @media only screen and (max-width: 1000px) {
        margin: 0 0 30px !important;
        padding: 0 !important;
    } 
}

