
.main-header {
    background-color: #fff;
    height: 50px;
    padding: 10px 100px 0px;
    @media only screen and (max-width: 600px) {
        padding: 10px 20px;
    }

    .semi-bold {
        font-weight: 600;
    }
}