.navigation {
    background-color: #477EFA;
    height: 48px;

    .navbar {
        background-color: none;
        width: 85%;
        margin: 0 auto;
        @media only screen and (max-width: 1000px) {
            width: 100%;
        }
    }

    .navlink {
        display: inline;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        color: #fff !important;
        font-size: 16px;
        padding-top: 5px;
        @media only screen and (max-width: 600px) {
            font-size: 14px;
            margin-right: 8px;
        }
    }

    .navigation-overflow{
        @media only screen and (max-width: 600px) {
            overflow-x: hidden!important;
        }
    }

    .active {
        color: yellow !important;
        font-weight: 600;
    }

}
.material-icons{
    font-size: 17px;
    padding-top: 4px !important;
}