.email{
    font-size: 13.5px;
}

.navigation {
    background-color: #477EFA;
    height: 48px;

    .navbar {
        background-color: none;
        width: 75%;
        margin: 0 auto;
        @media only screen and (max-width: 1000px) {
            width: 90%;
        }
    }

    .navlink {
        display: inline;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        color: #fff !important;
        font-size: 16px;
        @media only screen and (max-width: 600px) {
            font-size: 16px;
        }
    }

    .navigation-overflow{
        @media only screen and (max-width: 600px) {
            overflow-x: hidden!important;
        }
    }

    .active {
        color: yellow !important;
        font-weight: 600;
    }

}
.material-icons{
    font-size: 17px;
    padding-top: 4px !important;
}

//Navigation scrollability


.scrollnav{
    overflow:hidden;
    overflow: -moz-scrollbars-none;
    padding: 0 20px;
    }

    .scrollnav-top{
    margin-top:-5px!important;
    height:4rem;
    white-space: nowrap;
    overflow-x: auto;
    z-index:1;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar { 
        display: none; 
    }
    list-style:none;
    margin:0;
    padding:0;
    font-size: 0;
    position:relative;
    li{
        font-size:1rem;
        display: inline-block;
        padding:0;
        margin:0; 
        border:none;
    }
}
