.navigation {
    background-color: #477EFA;
    height: 48px;

    .navbar {
        background-color: none;
        width: 80%;
        margin: 0 auto;
        @media only screen and (max-width: 1000px) {
            width: 100%;
        }
    }

    .navlink {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        color: #fff !important;
        font-size: 16px;
        padding-top: 5px;
    }

    .active {
        color: yellow !important;
        font-weight: 600;
    }

}