//Styling related to pasenger details page components
.passenger-input-field {
    padding: 16px 14px;
    @media only screen and (max-width: 1000px) {
        padding: 16px 0px;
    }
}
.progressBar {
    height: 3px !important;
}

.btn-previous{
    // background-color: rgb(229, 229, 229) !important;
    border: 1px solid #777;
}