

.search-form {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0 25px;

    .search-grid-container {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr 2fr;
        // grid-auto-rows: 50px; /* for demo */
        grid-gap: 10px;
        grid-template-areas: "column-1 column-2 column-3 column-4 column-5";
    }

    .grid-item:nth-child(1) {
        grid-area: column-1;
    }

    .grid-item:nth-child(2) {
        grid-area: column-2;
    }

    .grid-item:nth-child(3) {
        grid-area: column-3;
    }

    .grid-item:nth-child(4) {
        grid-area: column-4;
    }

    .grid-item:nth-child(5) {
        grid-area: column-5;
    }

    @media (max-width: 1000px) {
        .search-grid-container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: " column-1 column-2 "
                " column-3 column-4 "
                " column-5 column-5 ";
        }
    }

    @media (max-width: 600px) {
        .search-grid-container {
            grid-template-columns: 1fr;
            grid-template-areas: " column-1 "
                " column-2 "
                " column-3 "
                " column-4 "
                " column-5 ";
        }
    }

    .search-grid-container>div {
        text-align: left;
        font-size: 12px;
    }

    .searchDate {
        @media only screen and (max-width: 1000px) {
            width: 110% !important;
            margin: 0 auto;
        }
    }

    .dropdownSearchContent {
        padding-top: 5px;
        padding-bottom: 10px;
        // margin-left: 18px;
        display: flex;

        @media only screen and (max-width: 1000px) {
            margin: 10px;
        }
    }

    .dropdownToggle {
        background-color: transparent !important;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        color: #666;
        border: none;
        margin: -2px auto 0px;
        padding-bottom: 7px !important;
        border-bottom: solid 1px #888;
        width: 85%;
        line-height: 13px;


        &:hover {
            color: rgb(29, 33, 54);
        }

        &:active {
            color: #333;
        }

        &:focus {
            color: #333;
        }

        .dropdown-styling {
            //for passenger count
            margin-left: -15px;
            font-size: 14px;
        }


    }
    .option-select {
        color: #666 !important;
        font-size: 14px !important;
    }
    
    .search-btn {
        margin-top: 0; //Realigns the search button with input forms due to label introd misalignment

        @media only screen and (max-width: 1000px) {
            width: 100%;
            margin-left: 12px;
        }

        .btn {
            background-color: yellow !important;
            color: #444;
            padding: 15px !important;
            border-radius: 5px !important;
            font-size: 14px !important;
            text-transform: none !important;
            max-width: 180px;
            min-width: 125px;
            height: 56px;

            @media only screen and (max-width: 1000px) {
                margin-left: -12px;
                margin-top: 10px;
                max-width: 150px;
                height: 46px;
                padding: 10px !important;
                font-size: 14px !important;
            }
        }
    }
}






.dropdown-content {
    width: 180px !important;
    font-size: 12px;

    .span{
        padding: 2px;
        font-size: 13px;
    }
}




